@if (!usersFiltered.length) {

<span class="message">NO USERS 🙃</span>
}
<div class="users" *ngIf="usersFiltered">
  @for (user of usersFiltered; track $index) {
  <article class="card" loading="lazy">
    <img
      class="card__img"
      [srcset]="user.img"
      [alt]="user.name"
      width="300"
      height="200"
    />
    <div class="card__content">
      <div class="card__info">
        <div class="card__description">
          <h2 class="card__name">{{ user.username }}</h2>
          <span [class]="user.active ? 'conected' : 'disconected'"></span>
        </div>
        <span class="card__role">{{ user.role }} </span>
      </div>
      <button class="card__btn" (click)="isActive(user)">
        {{ user.active ? "Disable" : "Active" }}
      </button>
    </div>
  </article>
  }
</div>
