.users {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1.5em;
}
.card {
  display: flex;
  flex-direction: column;

  border-radius: 0.4em;

  background-color: var(--zinc-900);
  color: var(--zinc-200);
  &__img {
    border-radius: 0.4em 0.4em 0 0;
    height: auto;
  }
  &__content {
    padding: 1em;

    display: flex;

    flex-direction: column;
    row-gap: 1.3em;
  }
  &__name {
    font-size: 1rem;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__description {
    // background-color: red;
    display: flex;
    column-gap: 0.4em;
    align-items: center;
    justify-content: center;
  }
  &__role {
    padding: 0.3em;
    border-radius: 0.3em;
    font-weight: 600;
    background-color: var(--zinc-100);
    color: var(--zinc-900);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__btn {
    width: 100%;
    padding: 0.5em;
    border-radius: 0.4em;
    border: 1px solid var(--zinc-200);
    font-weight: 500;
    background-color: transparent;
    color: var(--zinc-200);
    cursor: pointer;
    text-transform: uppercase;
  }
  &__btn:hover {
    background-color: var(--zinc-200);
    color: #222;
    border: 1px solid yellow;
    transition: all ease 0.3s;
  }
}

.conected,
.disconected {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
}
.conected {
  background-color: rgb(47, 255, 116);
}
.disconected {
  background-color: rgb(163, 0, 0);
}
.message {
  width: 100%;
  height: 100dvh;
  font-size: 3em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
