<main class="wrapper">
  <h1 class="title">List of users</h1>

  <div class="form" [formGroup]="form">
    <div class="form__search">
      <input
        formControlName="search"
        type="text"
        name="search"
        id="search"
        placeholder="search...."
        class="form__search-input"
      />
    </div>
    <div class="form__checkbox">
      <input
        type="checkbox"
        name="active"
        id="active"
        formControlName="onlyActive"
        class="form__checkbox-input"
      />
      <label for="active">Only Active</label>
    </div>

    <select
      formControlName="sortBy"
      name="select"
      id="select"
      class="form__select"
    >
      <option value="0">Default</option>
      <option value="1">Name</option>
      <option value="2">Role</option>
      <option value="3">Active</option>
    </select>
  </div>

  <!-- {{ useresFiltered | json }} -->
  <users-list-card
    [usersFiltered]="useresFiltered"
    (isActiveEmiter)="toggleUserActive($event)"
  ></users-list-card>
</main>
