<main class="wrapper">
  <h1 class="title">List of users</h1>

  <div class="form" [formGroup]="form">
    <input
      type="checkbox"
      name="active"
      id="active"
      formControlName="onlyActive"
    />
    <label for="active">Activos</label>
  </div>

  @if (!useresFiltered.length) {

  <span class="message">NO HAY USUARIOS</span>
  }
  <div class="users">
    @for (user of useresFiltered; track $index) {
    <article class="card">
      <img [src]="user.img" [alt]="user.name" />
      <div class="card__content">
        <div class="card__info">
          <div class="card__description">
            <h2 class="card__name">{{ user.username }}</h2>
            <p [ngClass]="user.active ? 'conected' : 'disconected'"></p>
          </div>
          <span [ngClass]="user.role">{{ user.role }} </span>
        </div>
        <button class="card__btn" (click)="isActive(user)">
          {{ user.active ? "Desactive" : "Active" }}
        </button>
      </div>
    </article>
    }
  </div>
</main>
